
{%extends 'base.html'%}
{%block body_block%}
{%load static%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
            {%for m in messages%}
            {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endif%}
            {%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endif%}
            {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <col-4></col-4>
        <col-4>
            <img src="{%static 'images/todolist.jpg'%}" alt="">
        </col-4>
        <col-4></col-4>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {%if todos%}
            <table class="table">
                <tr>
                    <th>Task_name</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
                {%for todo in todos%}
                <tr>
                    <td>{{todo.task_name}}</td>
                    <td>{{todo.status}}</td>
                    <td>{{todo.created_date}}</td>
                    <td>
                        <a href="{%url 'edit-todo' todo.id%}" class="btn btn-outline-warning">Edit</a>
                        <a href="{%url 'todo-detail' todo.id%}" class="btn btn-outline-info">Details</a>
                        <a href="{%url 'remove-todo' todo.id%}" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
            {%else%}
            <h2 class="text-danger">No Todos!!</h2>
            {%endif%}
        </div>
        <div class="col-2"></div>
    </div>
</div>
{%endblock%}